body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
}

/*********
 Typography
**********/

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    /* 15px */
    letter-spacing: -0.03em;
    color: #0E0E0E;

}

a{
    font-size: 0.75rem;
    color: #090909;
    font-weight: 600;
}

.date-header{
    font-size: 0.75rem;
}

h1{
    font-size: 2rem;
    font-weight: 700;
}

.date-main{
    font-size: 0.875rem;
}

h2{
    font-size: 1.5rem;
    line-height: 1.08;
    font-weight: 700;
}

button{
    font-weight: 700;
    font-size: 1rem;
    line-height: inherit;
    color: #000000;
}

h4{
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.08;
}

.copyright{
    font-size: 0.75rem;
    font-weight: 400;
}

