*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
}

/*********
 Typography
**********/

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    /* 15px */
    letter-spacing: -0.03em;
    color: #0E0E0E;
    margin: 0;
}

a{
    font-size: 0.75rem;
    color: #090909;
    font-weight: 600;
}

.date-header{
    font-size: 0.75rem;
    margin: 0;
    font-weight: 400;
    /* color: grey; */
    color:rgb(227 219 219);
}

h1{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.date-main{
    font-size: 0.875rem;
    font-weight: 400;
}

h2{
    font-size: 1.5rem;
    line-height: 1.08;
    font-weight: 700;
}

button{
    font-weight: 700;
    font-size: 1rem;
    line-height: inherit;
    color: #000000;
}

h4{
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.08;
}

.copyright{
    font-size: 0.75rem;
    font-weight: 400;
}

img{
    width: 100%;
    object-fit: cover;
}

/*********
Layout
**********/

.container{
    /* background-color: magenta; */
    width: 90%;
    margin: 0 auto;
}

nav .container{
    display: flex;
    align-items: center;
    min-height: 7vh;
}
.logo{
    width: 24px;
    height: 24px;
}

.nav-header{
    margin-left: 0.1em;
}

.ul-links{
    margin-left: auto;
    list-style-type: none;
    display: flex;
    padding: 0;
    text-transform: uppercase;
}

.ul-links li{
    margin-left: 1.5em;
}

.ul-links a{
    text-decoration: none;
}


header{
    background: #0000004F url(./images/article-image-hero.png);
    background-size: cover;
    color: #FFFFFF;
    padding: 1.5em 0;
}

header .container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 40vh;
    /* margin-right: auto;
    margin-left: 0; */
    /* padding-left: 2em; */
}

header p{
    margin: 0;
    color:rgb(227 219 219);
    max-width: 768px;

}

header .container > *{
    margin-top: 0.5rem;
}

.card{
    margin-top: 2.5em;
}

.card > *:not(img){
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.card img{
    border-radius: 3px;
}

.btn-view{
    display: block;
    margin: 0 auto;
    margin-top: 1.5em;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    text-decoration-line: underline;
}

footer{
    margin-top: 2.5em;
    background: #202020;
    color: #FFFFFF;
}

footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}

.footer-header,.copyright{
    margin: 0;
    margin-top: 0.2em;
}

main .container{
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width:768px) {
    main .container{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }

    .btn-view{
        grid-column: 2;
    }
}